<footer class="site-footer">

  <div class="uk-container uk-container-center">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="uk-grid">
      {% if site.email %}
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      {% endif %}
      
      <div class="uk-width-6-10">
        <p>{{ site.description }}</p>
      </div>

      <div class="uk-width-4-10">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          
        </ul>
      </div>
    </div>

  </div>

</footer>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/uikit.min.js"></script>